@model EmployeeBenefits.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
	<div class="card mb-auto">
		<div class="card-header">
			<h1>Welcome to the Employee Management Sample App!</h1>
		</div>
		<div class="card-body">
			<p>
				You may use this sample app to input employees and their dependents, and get a live preview of projected costs and deductions.
			</p>
		</div>
		<div>
			<a href="@Url.Action("input", "employee")">
				<button type="button" class="btn btn-primary " aria-label="Get Started!">
					Enter New Employees or Dependents
				</button>
			</a>
		</div>
		
	</div>
</div>
<!-- Example DataTables Card-->
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-table"></i> Employees
	</div>
	
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" cellspacing="0">
				<thead>
					<tr>
						<th>Name</th>
						<th>Number of Dependents</th>
						<th>Gross Weekly Compensation</th>
						<th>Yearly Benefits Deduction</th>
						<th>Benefits Discount</th>
						<th>Benefits Deduction Per Paycheck</th>
						<th>Net Cost to the Company Per Paycheck</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Name</th>
						<th>Number of Dependents</th>
						<th>Gross Weekly Compensation</th>
						<th>Yearly Benefits Deduction</th>
						<th>Benefits Discount</th>
						<th>Benefits Deduction Per Paycheck</th>
						<th>Net Cost to the Company Per Paycheck</th>
					</tr>
				</tfoot>
				<tbody>
					
					@foreach (var employee in Model.Employees)
					{
					<tr>
						<td>@employee.Name</td>
						<td>@employee.NumberOfDependents</td>
						<td>@employee.CompensationPerPaycheckFormatted</td>
						<td>@employee.AnnualBenefitsDiscountFormatted</td>
						<td>@employee.BenefitsDiscountPercentage%</td>
						<td>@employee.BenefitsPerPaycheckFormatted</td>
						<td>@employee.NetCostPerPaycheckFormatted</td>
					</tr>
					}
					
				</tbody>
			</table>
		</div>
	</div>
	<div class="card-footer small text-muted">Please input your employees.</div>
</div>
